h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  font-weight: 500;
}

p {
 font-family: 'Roboto', sans-serif;
 font-size: 18px;
}  

#logo {
  float: left;
}

#navigation {
  float: right;
}

/* font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif; */

