#logo {
  float: left;
}

#navigation {
  float: right;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}

p {
 font-size: 18px;
}  



/* font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif; */

